<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My Application | Samples">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="author" content="My Company">

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    @*<nav class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="navBarCtrl" data-ng-init="initialize()">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="main-navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ng-cloak">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">MVC Server Links&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="~/#/report/detail">
                                    <i class="fa fa-fw fa-user-plus"></i><span>&nbsp;&nbsp;New Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/#/report/reports">
                                    <i class="fa fa-fw fa-bars"></i><span>&nbsp;&nbsp;Reports/span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")    

    <script>
        window.SLNK = {};

        window.SLNK.TemplateUrls = {};
        window.SLNK.TemplateUrls.SignIn = "@Url.Action("signin", "user")";
        window.SLNK.TemplateUrls.Home = "@Url.Action("index", "home")";
        window.SLNK.TemplateUrls.About = "@Url.Action("about", "home")";
        window.SLNK.TemplateUrls.Contact = "@Url.Action("contact", "home")";

        window.SLNK.Constants = {};
        window.SLNK.Constants.ApiBase = "@Shell.Properties.Settings.Default.ApiBaseUrl";
        window.SLNK.Constants.UserToken = "@Shell.Core.Security.HttpCookieNames.UserToken";

        //
        // token refresh timer
        //
        $(function () {

            // force token refresh when page loads (in case expired)
            if (SLNK.isNotNull(SLNK.getCookie(SLNK.Constants.UserToken))) {
                SLNK.refreshServiceLayerToken();
            }

            // force token refresh periodically (to prevent expiration)
            window.setInterval(function () {
                if (SLNK.isNotNull(SLNK.getCookie(SLNK.Constants.UserToken))) {
                    SLNK.refreshServiceLayerToken();
                }
            }, 1000 * 60 * 5); /* refresh every 5 minutes */

        });

    </script>
    
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
</body>
</html>
